.blog_screen_wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: rgb(23, 23, 158);

  font-family: "Times New Roman", Times, serif;
}

.blog_description {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.create_new_note {
  display: flex;
  justify-content: flex-end;
}

.create_note_button {
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0px;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid rgb(23, 23, 158);
  cursor: pointer;
  color: rgb(240, 185, 3);
  background-color: rgb(23, 23, 158);
}

.create_note_button:hover {
  border-bottom: 1px solid rgb(240, 185, 3);
}

.note {
  border-radius: 10px;
  padding: 10px;
  width: 750px;
  height: 250px;
  margin-bottom: 30px;
  background-color: rgb(240, 185, 3);
}

@media(max-width: 1000px) {
  .create_new_note {
    width: 60%;
  }
}

@media(max-width: 600px) {
  .create_new_note {
    width: 40%;
  }
}

@media(max-width: 420px) {
  .create_new_note {
    width: 30%;
  }
}